# Notebooks for testing
view.ipynb
find_subreddits.ipynb
reddit_scraper_test.ipynb

# Tests
test_articles.csv

# env
.env
.vscode
try*

# Old data
VideosComments_old
old

# Fake data for testing while annotation is underway
Annotators_workload_fake